@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800,700,400italic,600italic,700italic,800italic,300italic");
/* @import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700"); */
/* Key scaffolding
-------------------------------------------------- */
body {
  position: relative; /* For scrollyspy */
  padding-top: 50px; /* Account for fixed navbar */
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  /*font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif; */
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;  
}
/* font-face
-------------------------------------------------- */
@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot');
  src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-equalizer, .icon-phone-portrait, .icon-rocket, .icon-github, .icon-twitter, .icon-thumbf-up, .icon-earth, .icon-bug, .icon-window {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-equalizer:before {
  content: "\e000";
}
.icon-phone-portrait:before {
  content: "\e002";
}
.icon-rocket:before {
  content: "\e003";
}
.icon-github:before {
  content: "\e001";
}
.icon-twitter:before {
  content: "\e004";
}
.icon-thumbf-up:before {
  content: "\e005";
}
.icon-earth:before {
  content: "\e006";
}
.icon-bug:before {
  content: "\e007";
}
.icon-window:before {
  content: "\e008";
}

.icon-home:before {
    content: "\f0e0";
}

/* Custom docs button */
.btn-bf {
  color: #563d7c;
  background-color: #fff;
  border-color: #e5e5e5;
}
.btn-bf:hover,
.btn-bf:focus,
.btn-bf:active {
  color: #fff;
  background-color: #563d7c;
  border-color: #563d7c;
}

/* Top nav and header
-------------------------------------------------- */
.bf-docs-nav {
  border-bottom: 1px solid #454545 !important;  
}
.bf-docs-nav .navbar-brand {
  padding-left: 80px;
  color: #fff;
  background: url(../img/nav-logo.png) no-repeat 15px 3px;
}
.bf-docs-nav .navbar-nav > li > a {
  margin: 5px 5px 0;
  padding: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
}
.bf-docs-nav .navbar-nav > li > a:hover {
  color: #fff;
  background-color: #2ba3d4;
}
.bf-docs-nav .navbar-nav > .active > a,
.bf-docs-nav .navbar-nav > .active > a:hover {
  color: #fff;
  background-color: #2ba3d4 !important;
}

/* Homepage */
.bf-docs-home {
  color: #fff;
  background-color: #000;
}

/* Homepage masthead
-------------------------------------------------- */

.bf-masthead {
  position: relative;
  text-align: center;
  background: #cbcbcd url(../img/graph-icon.png) no-repeat 50% 100px;
}
.bf-masthead a,
.bf-masthead a:hover,
.bf-masthead a:active {
  color: #fff;
}
.bf-masthead .bf-masthead-bg {
  padding: 30px 15px;
  background-color: rgba(43, 163, 212, 0.85)
}
.bf-masthead .logo {
  background: url(../img/logo.png) no-repeat 50% 0;
  height: 253px;
}
.bf-masthead h1 {
  margin-top: -30px;
  font-size: 50px;
  line-height: 1;
  color: #fff;
}
.bf-masthead .bf-masthead-links a,
.bf-masthead .bf-masthead-links a:hover {
  color: #fff;
}
.bf-masthead-info {
  padding: 80px 20px; 
  font-size: 28px;
  background-color: #fc5d7b;
  color: rgba(0, 0, 0, .3);
}
.bf-masthead-info .icon-angle-down {
  font-size: 40px;
}

/* Download button */
.bf-masthead .btn-outline {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #fff;
  padding: 18px 24px;
  font-size: 21px;
  color: #fff;
}
.bf-masthead .btn-outline:hover {
  background-color: #fff;
  color: #42a8d2;
}

.bf-masthead-links {
  margin-top: 50px;
  margin-bottom: 20px;
  padding-left: 0;
  list-style: none;
  text-align: left;
}
.bf-masthead-links li {
  margin-bottom: 15px;
  color: #fff;
}
.bf-masthead-links a {
  color: #c8c7c6;
}

/* Homepage features
-------------------------------------------------- */
.bf-features {
  color: #292929;
  background-color: #F5F6F7;
  text-align: center;
}
.bf-features {
  padding: 80px 0;
}
.bf-features h2 {
  margin-bottom: 20px;
  font-size: 40px;
}
.bf-features h2 ~ p {
  margin-bottom: 40px;
  font-size: 16px;
}
.bf-features .bf-icon-wrap {
  margin: 0 auto 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #e5e9ed;
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-size: 40px;
  color: #a5b6c7;
}
.bf-features h3 {
  margin: 0 0 10px;
  color: #696969;
}
.bf-features h3 ~ p {
  color: #656565;
}
.bf-github {
  padding: 140px 0;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background-color: #3dc0f1;
}
.bf-github h2 {
  margin-bottom: 20px;
  font-size: 40px;
}
.bf-github h2 ~ p {
  margin-bottom: 40px;
  font-size: 16px;
}
.bf-github .bf-icon-wrap {
  margin: 0 auto 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #fff;
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-size: 40px;
  color: #3dc0f1;
}
.bf-github h3 ~ p {
  font-size: 14px;
}
.bf-github a,
.bf-github a:hover {
  color: #fff;
  text-decoration: underline;
}

/* Docs pages and sections
-------------------------------------------------- */

/* Page headers */
.bf-header {
  padding: 30px 30px 40px;
  font-size: 16px;
  color: #5a5a5a;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.bf-header p {
  font-weight: 300;
  line-height: 1.5;
}
.bf-header .container {
  position: relative;
}

.bf-docs-section + .bf-docs-section {
  padding-top: 20px;
}

/* Docs sidebar
-------------------------------------------------- */

/* First level of nav */
.bf-sidenav {
  margin-top: 10px;
  margin-bottom: 30px;
  padding-top:    10px;
  padding-bottom: 10px;
  font-size: 12px;
}
.bf-sidebar .nav > li > a:hover,
.bf-sidebar .nav > li > a:focus {
  color: #2ba3d4;
}
.bf-sidebar .nav > li.active > a,
.bf-sidebar .nav > li.active > a:hover,
.bf-sidebar .nav > li.active > a:focus {
  color: #2ba3d4;
}
.bf-sidebar .vertical-blank {
  height: 30px;
}

/* Bootstrap code examples
-------------------------------------------------- */

/* Base class */
.bf-example {
  position: relative;
  margin: 20px 0 40px;
}
.bf-example > .btn-toolbar + .btn-toolbar {
  margin-top: 10px;
}

.bf-example .row {
  margin-bottom: 20px;
}

/* Tweak display of the examples */
.bf-example + .highlight {
  margin: 0 -15px;
  border-radius: 0;
  border-width: 0 0 1px;
}

/* Tweak content of examples for optimum awesome */
.bf-example > p:last-child,
.bf-example > ul:last-child,
.bf-example > ol:last-child,
.bf-example > blockquote:last-child,
.bf-example > input:last-child,
.bf-example > select:last-child,
.bf-example > textarea:last-child,
.bf-example > .table:last-child,
.bf-example > .navbar:last-child
.bf-example > .jumbotron:last-child,
.bf-example > .alert:last-child,
.bf-example > .panel:last-child,
.bf-example > .list-group:last-child,
.bf-example > .well:last-child {
  margin-bottom: 0;
}
.bf-example > p > .close {
  float: none;
}
.bf-example-title {
  border-left: 3px solid #08d;
  padding-left: 10px;
  line-height: 24px;
  margin: 20px 0;
  font-size: 16px;
}
.bf-example-align .btn {
  margin-top: 4px;
}
.bf-example-align .btn-xs {
  margin-top: 16px;
}
.bf-example-align .btn-sm {
  margin-top: 8px;
}
.bf-example-align .btn-lg {
  margin-top: -7px;
}

/* Navbar examples */
.bf-example .navbar:last-child {
  margin-bottom: 0;
}
.bf-navbar-top-example,
.bf-navbar-bottom-example {
  z-index: 1;
  padding: 0;
  min-height: 110px;
  overflow: hidden; /* cut the drop shadows off */
}
.bf-navbar-top-example .navbar-fixed-top,
.bf-navbar-bottom-example .navbar-fixed-bottom {
  position: relative;
  margin-left: 0;
  margin-right: 0;
}
.bf-navbar-top-example .navbar-fixed-top {
  top: -1px;
}
.bf-navbar-bottom-example .navbar-fixed-bottom {
  bottom: -1px;
}
.bf-navbar-top-example {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}
.bf-navbar-top-example:after {
  top: auto;
  bottom: 15px;
  -webkit-border-radius: 0 4px 0 4px;
     -moz-border-radius: 0 4px 0 4px;
          border-radius: 0 4px 0 4px;
}
.bf-navbar-bottom-example {
  -webkit-border-radius: 4px 4px 0 0;
     -moz-border-radius: 4px 4px 0 0;
          border-radius: 4px 4px 0 0;
}
.bf-navbar-bottom-example .navbar {
  margin-bottom: 0;
}
.bf-navbar-top-example.bf-example:after {
  bottom: -1px;
  border-radius: 0 4px;
}

/* Example modals */
.bf-example-modal {
  background-color: #f5f5f5;
}
.bf-example-modal .modal {
  position: relative;
  top: auto;
  right: auto;
  left: auto;
  bottom: auto;
  z-index: 1;
  display: block;
}
.bf-example-modal .modal-dialog {
  left: auto;
  margin-left: auto;
  margin-right: auto;
}

/* Example dropdowns */
.bf-example > .dropdown > .dropdown-menu,
.bf-example-submenu > .pull-left > .dropup > .dropdown-menu,
.bf-example-submenu > .pull-left > .dropdown > .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 5px;
}
.bf-example-submenu {
  min-height: 230px;
}
.bf-example-submenu > .pull-left + .pull-left {
  margin-left: 20px;
}

/* Tooltips */
.bf-example-tooltips {
  text-align: center;
}

/* Popovers */
.bf-example-popover {
  padding-bottom: 24px;
}
.bf-example-popover .popover {
  position: relative;
  display: block;
  float: left;
  width: 260px;
  margin: 20px;
}

/* Example templates
-------------------------------------------------- */

.bf-examples h4 {
  margin-bottom: 5px;
}
.bf-examples p {
  margin-bottom: 20px;
}

/* Responsive docs
-------------------------------------------------- */

/* Responsive (scrollable) doc tables */
@media (max-width: 768px) {
  .bf-table-scrollable {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    overflow-x: scroll;
    border: 1px solid #ddd;
  }
  .bf-table-scrollable .table {
    margin-bottom: 0;
    border: 0;
  }
  .bf-table-scrollable .table th,
  .bf-table-scrollable .table td {
    white-space: nowrap;
  }
  .bf-table-scrollable .table th:first-child,
  .bf-table-scrollable .table td:first-child {
    border-left: 0;
  }
  .bf-table-scrollable .table th:last-child,
  .bf-table-scrollable .table td:last-child {
    border-right: 0;
  }
  .bf-table-scrollable .table tr:last-child th,
  .bf-table-scrollable .table tr:last-child td {
    border-bottom: 0;
  }
}

/* Footer
-------------------------------------------------- */

.bf-footer {
  padding: 120px 0;
  background-color: #000;
}
.bf-footer.bf-footer-margin {
  margin-top: 100px;
}
.bf-footer p {
  margin-bottom: 0;
  color: #ddd;
}
.bf-footer a {
  color: #8f8d8d;
}
.bf-footer a:hover {
  color:#fff;
}
.bf-footer .footer-brand {
  display: inline-block;
  padding-left: 42px;
  font-size: 20px;
  color: #fff;
  background: url(../img/nav-logo.png) no-repeat 0 0;
  height: 34px;
  line-height: 34px;
}

.bf-connect p {
  margin-bottom: 20px;
}
.bf-connect .social {
  font-size: 40px;
}
.bf-connect .social a {
  display: inline-block;
  width: 60px;
  height: 40px;
  line-height: 40px;
  text-decoration: none;
  text-align: center;
  color: #fff;
}
.bf-connect .social a:first-child,
.bf-connect .social a:last-child {
  position: relative;
  top: 2px;
}

/* Social proof buttons from GitHub & Twitter */
.bf-social {
  margin-bottom: 20px;
}
.bf-social-buttons {
  display: inline-block;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.bf-social-buttons li {
  display: inline-block;
  line-height: 1;
}
.bf-social-buttons li + li {
  margin-left: 15px;
}
.bf-social-buttons .twitter-follow-button {
  width: 225px !important;
}
.bf-social-buttons .twitter-share-button {
  width: 98px !important;
}
/* Style the GitHub buttons via CSS instead of inline attributes */
.github-btn {
  border: 0;
  overflow: hidden;
}

.highlight {
  padding: 9px 14px;
  margin-bottom: 40px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
}
.highlight pre {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  background-color: transparent;
  border: 0;
  white-space: nowrap;
}
.highlight pre code {
  font-size: inherit;
  color: #333; /* Effectively the base text color */
}
.highlight pre .lineno {
  display: inline-block;
  width: 22px;
  padding-right: 5px;
  margin-right: 10px;
  text-align: right;
  color: #bebec5;
}

.hll { background-color: #ffffcc }
 /*{ background: #f0f3f3; }*/
.c { color: #999; } /* Comment */
.err { color: #AA0000; background-color: #FFAAAA } /* Error */
.k { color: #006699; } /* Keyword */
.o { color: #555555 } /* Operator */
.cm { color: #0099FF; font-style: italic } /* Comment.Multiline */
.cp { color: #009999 } /* Comment.Preproc */
.c1 { color: #999; } /* Comment.Single */
.cs { color: #999; } /* Comment.Special */
.gd { background-color: #FFCCCC; border: 1px solid #CC0000 } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.gr { color: #FF0000 } /* Generic.Error */
.gh { color: #003300; } /* Generic.Heading */
.gi { background-color: #CCFFCC; border: 1px solid #00CC00 } /* Generic.Inserted */
.go { color: #AAAAAA } /* Generic.Output */
.gp { color: #000099; } /* Generic.Prompt */
.gs { } /* Generic.Strong */
.gu { color: #003300; } /* Generic.Subheading */
.gt { color: #99CC66 } /* Generic.Traceback */
.kc { color: #006699; } /* Keyword.Constant */
.kd { color: #006699; } /* Keyword.Declaration */
.kn { color: #006699; } /* Keyword.Namespace */
.kp { color: #006699 } /* Keyword.Pseudo */
.kr { color: #006699; } /* Keyword.Reserved */
.kt { color: #007788; } /* Keyword.Type */
.m { color: #FF6600 } /* Literal.Number */
.s { color: #d44950 } /* Literal.String */
.na { color: #4f9fcf } /* Name.Attribute */
.nb { color: #336666 } /* Name.Builtin */
.nc { color: #00AA88; } /* Name.Class */
.no { color: #336600 } /* Name.Constant */
.nd { color: #9999FF } /* Name.Decorator */
.ni { color: #999999; } /* Name.Entity */
.ne { color: #CC0000; } /* Name.Exception */
.nf { color: #CC00FF } /* Name.Function */
.nl { color: #9999FF } /* Name.Label */
.nn { color: #00CCFF; } /* Name.Namespace */
.nt { color: #2f6f9f; } /* Name.Tag */
.nv { color: #003333 } /* Name.Variable */
.ow { color: #000000; } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.mf { color: #FF6600 } /* Literal.Number.Float */
.mh { color: #FF6600 } /* Literal.Number.Hex */
.mi { color: #FF6600 } /* Literal.Number.Integer */
.mo { color: #FF6600 } /* Literal.Number.Oct */
.sb { color: #CC3300 } /* Literal.String.Backtick */
.sc { color: #CC3300 } /* Literal.String.Char */
.sd { color: #CC3300; font-style: italic } /* Literal.String.Doc */
.s2 { color: #CC3300 } /* Literal.String.Double */
.se { color: #CC3300; } /* Literal.String.Escape */
.sh { color: #CC3300 } /* Literal.String.Heredoc */
.si { color: #AA0000 } /* Literal.String.Interpol */
.sx { color: #CC3300 } /* Literal.String.Other */
.sr { color: #33AAAA } /* Literal.String.Regex */
.s1 { color: #CC3300 } /* Literal.String.Single */
.ss { color: #FFCC33 } /* Literal.String.Symbol */
.bp { color: #336666 } /* Name.Builtin.Pseudo */
.vc { color: #003333 } /* Name.Variable.Class */
.vg { color: #003333 } /* Name.Variable.Global */
.vi { color: #003333 } /* Name.Variable.Instance */
.il { color: #FF6600 } /* Literal.Number.Integer.Long */

.css .o,
.css .o + .nt,
.css .nt + .nt { color: #999; }
/* Show code snippets when we have the space */
@media screen and (min-width: 481px) {
  .highlight {
    display: block;
  }
}

.demoColorSwatches {
    color: #FFF;
}
.demoColorSwatches h4 {
    color: #292929;
}
.demoColorSwatches .colorPanel {
    padding: 15px;
}
.demoColorSwatches .colorPanel:hover {
    opacity: 0.85;
    filter: alpha(opacity=85);
}

/* Responsive variations
-------------------------------------------------- */

/* Hide code snippets on mobile devices */
@media screen and (max-width: 480px) {
  .highlight {
    display: none;
  }
}

/* Navbars */
.bf-example .navbar:last-child {
  margin-bottom: 0;
}
.bf-navbar-top-example,
.bf-navbar-bottom-example {
  z-index: 1;
  padding: 0;
  overflow: hidden; /* cut the drop shadows off */
  border: 1px solid #ddd ;
}
.bf-navbar-top-example .navbar-header,
.bf-navbar-bottom-example .navbar-header {
  margin-left: 0;
}
.bf-navbar-top-example .navbar-fixed-top,
.bf-navbar-bottom-example .navbar-fixed-bottom {
  position: relative;
  margin-left: 0;
  margin-right: 0;
}
.bf-navbar-top-example {
  padding-bottom: 45px;
}
.bf-navbar-top-example:after {
  top: auto;
  bottom: 15px;
}
.bf-navbar-top-example .navbar-fixed-top {
  top: -1px;
}
.bf-navbar-bottom-example {
  padding-top: 65px;
}
.bf-navbar-bottom-example .navbar-fixed-bottom {
  bottom: -1px;
}
.bf-navbar-bottom-example .navbar {
  margin-bottom: 0;
}

/* Tablets and up */
@media screen and (min-width: 768px) {

  .bf-header {
    font-size: 21px;
    text-align: left;
  }
  .bf-header h1 {
    font-size: 60px;
    line-height: 1;
  }

  .bf-example {
    margin-left: 0;
    margin-right: 0;
    border-radius: 4px;
    background-color: #fff;
    border-width: 1px;
    border-color: #ddd;
    box-shadow: none;
  }
  .bf-example + .prettyprint,
  .bf-example + .highlight {
    margin-top: -16px;
    margin-left: 0;
    margin-right: 0;
    border-width: 1px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  /* Show the docs nav */
  .bf-sidebar {
    display: block;
  }
  .bf-sidebar > .nav > li > a {
    display: inline-block;
  }

  /* Tweak display of docs jumbotrons */
  .bf-masthead .bf-masthead-bg {
    padding-top:    70px;
    padding-bottom: 100px;
  }

  .bf-masthead h1 {
    font-size: 60px;
  }
  .bf-masthead .lead {
    font-size: 20px;
  }

  .bf-navbar-top-example .navbar-fixed-top,
  .bf-navbar-bottom-example .navbar-fixed-bottom {
    position: absolute;
  }
  .bs-navbar-top-example {
    border-radius: 0 0 4px 4px;
  }
  .bs-navbar-bottom-example {
    border-radius: 4px 4px 0 0;
  }
}

/* Tablets/desktops and up */
@media screen and (min-width: 992px) {
  .bf-header h1,
  .bf-header p {
    margin-right: 380px;
  }
}
